


.containerr > .h1{
    color: rgb(184, 184, 184);
    font-size: 50px;
  
    font-style: italic;
  }
  
  
  
  
  
  
  
  
  * {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
  }
  
  
  
  body {
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  
  .parallax {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1477353822394-80a4b0a3c493?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=ff04213f3d2f0c54aaa47a34bb91df30");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .h1{
    color: white;
    font-size: 8em;
  }




  @media (max-width:569px) {
    .h1{
      color: white;
      font-size: 7em;
    }
  
  }

  @media (max-width:505px) {
    .h1{
      color: white;
      font-size: 5.5em;
    }
  
  }


  @media (max-width:395px) {
    .h1{
      color: white;
      font-size: 4.5em;
    }
  
  }

  @media (max-width:320px) {
    .h1{
      color: white;
      font-size: 4em;
    }
  
  }
  
  
  


  
  .h1 span {
    background: linear-gradient(rgba(0, 0, 0, 0) 65%, rgba(255, 255, 255, 0.3) 35%)
  }
  
  .screen {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, black 95%);
  }
  
  .flex {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    height: 300px;
    margin: 10px 0;
    width: 30%;
    color: white;
    font-size: 1em;
  }
  
  .double {
    width: 65%;
    background-image: url("https://static.pexels.com/photos/371633/pexels-photo-371633.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .double-2 {
    background-image: url("https://images.unsplash.com/photo-1437422061949-f6efbde0a471?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=3743c450231eda3df43a243f1cca2fc0");
  }
  
  p {
    text-align: justify;
  }
  
  #more {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url("https://static.pexels.com/photos/371633/pexels-photo-371633.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .second-screen {
    background: rgba(0, 0, 0, 0.77);
  }
  
  .second-screen p {
    color: white;
    width: 80%;
    margin: 7% auto;
    font-size: 20px;
    line-height: 170%;
  }
  
  a {
    color: #27D;
    font-weight: bold;
    text-decoration: none;
    margin: 15px 0;
  }
  
  .screen a {
    font-size: 16px;
  }
  
  
  section {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width:fit-content;
    background:#fff;
   z-index: 5;
    box-shadow:0 0 5px 0px #333;
  }
  
  
  /* the important styles */
  
  .arrow-wrap {


    position:absolute;
    z-index:1;
    left:50%;
    top:-5em;
    margin-left:-5em;
    background:#111;
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    font-size:0.5em;
    display:block;
    box-shadow:0px 0px 5px 0px #333;
    display: none;
  }
  
  .arrow {
    

    float:left;
    position:relative;
    width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
    -webkit-transform:rotate(360deg)
  }
  
  .arrow:after {
    content:'';
    position:absolute;
    top:-3.2em;
    left:-3em;
    width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
    -webkit-transform:rotate(360deg)
  }
  
  @keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  .arrow-wrap .arrow {
    animation: arrows 2.8s 0.4s;
    animation-delay: 3s;
  }

  
.containerr{
  z-index: 100;
  position: absolute;
  top: 54%;
}

.h2{
display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, rgba(255, 255, 255, 0.3) 35%);
  font-style: italic;
  position: relative;
  left: 40px;
 
  color: #000;

}










@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  display:none;
  justify-content:center;
  align-items: center;
  height:100vh;
  width:100%;
  background:url('http://codingstella.com/wp-content/uploads/2024/01/download-5.jpeg') no-repeat;
  background-size:cover;
  background-position:center;
  animation:animateBg 5s linear infinite;
}
@keyframes animateBg {
  100% {
    filter:hue-rotate(360deg);
  }
}
.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid rgba(255,255,255,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
h2 {
  font-size:2em;
  color:#fff;
  text-align:center;
}
.input-box {
  position:relative;
  width:310px;
  margin:30px 0;
  border-bottom:1px solid #fff;
  background: transparent;
}
.input-box label {
  position:absolute;
  top:50%;
  left:5px;
  transform:translateY(-50%);
  font-size:1em;
  color:#fff;
  pointer-events:none;
  transition:.5s;
}
.input-box input:focus  ~ .label,
.input-box input:valid  ~ label
 {
  top:-5px;
}



.input-box input:focus  ~ .word
{
  top: 20px;
  opacity: 1;
}

.word{
  opacity: 0;
}

.input-box input {
  width:100%;
  height:50px;
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:#fff;
  padding:0 35px 0 5px;
}
.input-box .icon {
  position:absolute;
  right:8px;
  top:50%;
  color: #fff;
  transform: translateY(-50%);
}
.remember-forgot {
  margin:-15px 0 15px;
  font-size:.9em;
  color:#fff;
  display:flex;
  justify-content:space-between;
}
.remember-forgot label input {
  margin-right:3px;
}
.remember-forgot a {
  color:#fff;
  text-decoration:none;
}
.remember-forgot a:hover {
  text-decoration:underline;
}
button {
  width:100%;
  height:40px;
  background-color:#fff;
  border:none;
  border-radius:40px;
  cursor:pointer;
  font-size:1em;
  color:#000;
  font-weight:500;
}
.register-link {
  font-size:.9em;
  color:#fff;
  text-align:center;
  margin:25px 0 10px;
}
.register-link p a {
  color:#fff;
  text-decoration:none;
  font-weight:600;
}
.register-link p a:hover {
  text-decoration:underline;
}
@media (max-width:500px) {
  .login-box {
    width:100%;
    height:100vh;
    border:none;
    border-radius:0;
  }
  .input-box {
    width:290px;
  }
}






.animated-button {
  position: absolute;
  top: 85%;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  width: 160px;
  border-radius: 100px;
  font-weight: 600;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 100;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #1f387e;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 2%;
  top: 1%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .1s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  z-index: 5;
}

.bell {
  width: 18px;
}

.bell path {
  fill: white;
}

.button:hover {
  background-color: rgb(56, 56, 56);
}

.button:hover .bell {
  animation: bellRing 0.9s both;
}



.button:active {
  transform: scale(0.9);
}
